.movieList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns per row */
  gap: 2rem;
  padding: 1rem;
  list-style-type: none;
}

.movieList li {
  position: relative;

  column-gap: 2.4rem;
  align-items: center;
}

.movieList img {
  width: 60%;
  grid-row: 1 / -1;
  cursor: pointer;
}

.movieList div {
  color: #dee2e6;
  grid-column: 1/ 2;
}
.initialMsg {
  color: #dee2e6;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: larger;
  font-weight: 600;
  width: fit-content;
  cursor: default;
}
