.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #c3fae8;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: #00c46a;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: #00c46a;
  color: #242a2e;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  font-size: 1rem;
}
